* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f3f3f3;
}

/* Header */
header {
    background: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.menu a {
    margin: 0 12px;
    text-decoration: none;
    color: #222;
}

.btn-sus {
    background: #000;
    color: #fff;
    border: none;
    padding: 7px 15px;
    border-radius: 20px;
}

/* Buscador */
.buscador {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.buscador input {
    width: 70%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* Categorías */
.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}

.categorias button {
    padding: 7px 15px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.categorias .activo {
    background: black;
    color: white;
}

/* Títulos */
.titulo-seccion {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

/* Libros destacados (fila de 3) */
.fila-libros {
    display: flex;
    gap: 35px;
    padding: 15px 35px;
}

/* Libros populares - CAMBIO IMPORTANTE */
.grid-libros {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 30px;
    padding: 15px 35px;
}

/* Tarjetas */
.libro {
    background: white;
    border-radius: 8px;
    padding: 30px;
   
}

.libro img {
    width: 150;
    border-radius: 5px;
    height: 150;
}

.libro h4 {
    font-size: 15px;
    margin-top: 6px;
}

.libro p {
    font-size: 13px;
    color: #666;
}

/* Footer */
footer {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

footer a {
    color: #bbb;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}
